<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login file</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <form action="/member/login" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" type="email" name="memberEmail" class="form-control">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="memberPassword">
        </div>
        <button type="submit" class="btn btn-primary btn-block">로그인</button>
    </form>
</div>
</body>
</html>